* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: cursive;
  min-height: 100vh;
  position: relative;
}
input {
  font-family: cursive;
  outline: none;
  border: none;
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
:root {
  --white: #fff;
  --button-background: rgb(21, 154, 156);
  --button-hover-background: rgb(21, 154, 156, .5);
  --text-color: rgb(0, 35, 51);
  --window-background: rgb(222, 239, 231);
  --box-shadow: 0 4px 6px 1px rgba(0, 35, 51, 0.2), 0 0 0 1px rgba(0, 35, 51, 0.05);
  --border-radius: 5px;
}
header {
  background-color: var(--text-color);
  padding: 10px 0;
  box-shadow: var(--box-shadow);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content .logo {
  color: var(--white);
  font-size: 2rem;
}
.header-content nav ul#links li a {
  padding: 0 10px;  
  color: var(--white);
}
.header-content nav ul#user {
  display: none;
}
.header-content nav ul#user li a {
  color: var(--white);
  padding: 5px;
  margin: 5px;
}
/* start sign up and sign in form */
.form-section {
  width: 360px;
  height: 350px;
  border-radius: var(--border-radius);
  background-color: var(--window-background);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-section h2 {
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 2px;
}
.form-section #alert {
  font-size: .75rem;
  color: red;
  visibility:hidden;
}
.form-section form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-section form input {
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
}
.form-section form input[type="submit"] {
  background-color: var(--button-background);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
}
.form-section form input[type="submit"]:hover {
  background-color: var(--button-hover-background);
}
/* end sign up and sign in form */


footer {
  width: 100%;
  height: 10vh;
  background-color: var(--text-color);
  color: var(--white);
  position: absolute;
  left: 0;
  bottom: 0;
}